[Desktop Entry]
Name=P4rsInSight
Comment=Pardus Linux için akıllı başlangıç ve sistem yönetim uygulaması
Exec=bash -c "cd \"\$(dirname \"%k\")\" && ./run_linux.sh"
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=true
